<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebSocket</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/menu.css" />
    <link rel="stylesheet" href="~/WebSocket.styles.css" />
</head>
<body>
    <header class="header" id="header">
       <nav class="navbar container">
          <a href="#" class="brand">Web Socket</a>
          <div class="search">

          </div>
          <div class="menu" id="menu">
             <ul class="menu-inner">
                <li class="menu-item"><a href="/Productos/ListaProductos" class="menu-link">Lista producto</a></li>
                <li class="menu-item"><a href="#" class="menu-link">Feature</a></li>
                <li class="menu-item"><a href="#" class="menu-link">Popular</a></li>
                <li class="menu-item"><a href="#" class="menu-link">Support</a></li>
             </ul>
          </div>
          <div class="burger" id="burger">
             <span class="burger-line"></span>
             <span class="burger-line"></span>
             <span class="burger-line"></span>
          </div>
       </nav>
</header>
    <div class="container mt-5">
        <main role="main" class="pt-4">
            @RenderBody()
        </main>
    </div>

    <input type="hidden" id="hdfOculto" value="@Url.Content("~")" />

    <div id="divLoading" style="display:none;background-image:url(../img/loading.gif);
           position:absolute;top:0;left:0;
            width:100%;height:100%;
             background-repeat:no-repeat;background-position:center;z-index:2000">
     </div>

   @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - WebSocket - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/sweetalert.js"></script>

    <script src="~/js/menu.js"></script>
    <script src="~/js/generic.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
